:root {
  --main-blue-color: #00C1F0;
  --main-grey-color: #d3d4d5;
}

body { 
  margin:0px;
}

.formConatainer {
  display: flex;
  justify-content:  center ;
  align-items:  center ;
  flex-direction: column;
  width: 100vw ;
  height: 80vh;
}

